<%- include('../header') %>
    <header>
        <n2> Ntalk - Agenda de contatos </n2>
    </header>
    <section>
        <form action="/contato">
            <input type="text" name="contato[nome]" placeholder="Nome">
            <input type="text" name="contato[email]" placeholder="E-mail">
            <button type="submit">Cadastrar</button>
        </form>
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>E-mail</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                <% contatos.forEach((contato, index)=> { %>
                    <tr>
                        <td><%- contato.nome %></td>
                        <td><%- contato.email %></td>
                        <td>
                            <a href="/contato/<%- index %>">Detalhes</a>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
    </section>
    <%- include('../exit') %>
        <%- include('../footer') %>